
    <form class="suggestion" action="/suggestion" method="post">
    <h1 id="h">If You Have Any Question Or Idea Please Tell Us ...</h1>
    <p>{{mssg}}</p>
       <textarea  class="textarea" name="suggestion" rows="8" cols="80" placeholder="For Hani"></textarea>
       <input id="send" type="submit" name="send" value="send">

    </form>
